@model List<SedeViewModel>

<table class="table mx-auto">
    <thead>
        <tr>
            <th scope="col">Ações</th>
            <th scope="col">Imagem</th>
            <th scope="col">Nome</th>
            <th scope="col">Estado</th>
            <th scope="col">Bairro</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sede in Model)
        {
            <tr>
                <td>
                    <a href="/Sede/Edit?id=@sede.Id" class="btn btn-primary me-2">Editar</a>
                    <a href="javascript:apagarAcao(@sede.Id)" class="btn btn-danger">Apagar</a>
                </td>
                <td>
                    <img id="imgPreview" src="data:image/jpeg;base64,@sede.ImagemEmBase64" class="img-responsive"
                         width="50">
                </td>
                <td>@sede.Nome</td>
                <td>@sede.Estado</td>
                <td>@sede.Bairro</td>
                <td>@sede.Telefone</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function apagarAcao(id) {
        Swal.fire({
            title: "Tem certeza que quer apagar a sede?",
            text: "Isso apagará todos itens associados",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim, apague",
            cancelButtonText: "Não apague"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Sede deletada!",
                    icon: "success"
                }).then(() => {
                    location.href = '/Sede/Delete?id=' + id;
                });
            }
        });
    }
</script>
